
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Playlist</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="jumbotron text-center">
  <h1>Spotifind</h1>
  <p>Something about music and location</p>
</div>

<div class="container">
  <button type="button" class="btn btn-primary btn-large pull-right">Add Song</button>
</div>

<div class="container">
  <h2>Playlist Title</h2>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Song</th>
        <th>Artist</th>
        <th>Album</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ex</td>
        <td>Ex</td>
        <td>Ex</td>
      </tr>
      <tr>
        <td>Ex</td>
        <td>Ex</td>
        <td>Ex</td>
      </tr>
      <tr>
        <td>Ex</td>
        <td>Ex</td>
        <td>Ex</td>
      </tr>
    </tbody>
  </table>
</div>
